// src/pages/index.astro
---
import App from '../components/App.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Military T-Shirt Designer</title>
  </head>
  <body>
    <App />
  </body>
</html>
